---
layout: page
title: "About"
description: "Hey, this is Xinyu Wang."
header-img: "img/post-bg-rwd.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 英文 English </option>
    <option value="1"> 中文 Chinese </option>
</select>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <h5>About Me</h5>

    <p>I am an undergraduate student at the School of Electronic Information and Electrical Engineering, Shanghai Jiao Tong University.
        I major in Computer Science & Technology. I will be conferred the Bachelor of Science in Engineering degree in June, 2020.</p>

    <p>I am especially concerned about the developments in computer security and privacy, fundamental computer architecture, and algorithms.
        My primary research interests are as follows, about which I have conducted several scientific projects.
    </p>

    <ul>
        <li>Machine learning security and privacy</li>
        <li>Trusted execution environment</li>
    </ul>

    <p>Working in industry interests me a lot. Therefore, I will apply to the Master programs enrolled in 2020 Fall and I am especially interested in research opportunities in cybersecurity domain. My update-to-date C.V. is available HERE. Please feel free to contact me at wangxinyu500103@gmail.com.</p>

    <h5>Selected Original Articles</h5>

    <ul>
        <li>Artificial Intelligence | Search</li>
        <li>Python | Copying: Deep Copy and Shallow Copy</li>
        <li>Intel SGX | Enclave Definition Language</li>
    </ul>

    <h5>Publications</h5>

    <p>
            No-Jump-into-Latency in China’s Internet! A Hop Count Based IP Geo-localization Approach
        </p>
        <ul>
            <li>Chong Xiang, Xinyu Wang, Qingrong Chen, Minhui Xue, Zhaoyu Gao, Haojin Zhu, Cailian Chen, and Qiuhua Fan</li>
            <li>Proceedings of the IEEE/ACM International Symposium on Quality of Service (IWQoS 2019) Article No. 42</li>
            <li>Patent: CN201910603154.2, a hop count-based IP geo-localization approach</li>
            <li>https://nsec.sjtu.edu.cn/~chongxiang/pdf/IWQoS2019.pdf</li>
        </ul>
        <blockquote><p>
                Last-mile geo-localization plays an essential role in many location-based services, 
                such as fraud detection and targeted advertising. 
                In this study, we point out that round trip time (RTT) latency shows an extremely weak correlation 
                with physical distance estimation in China's Internet, 
                since a path between a vantage point and a destination can often be 
                circuitous and inflated by queuing and processing delays. 
                To sidestep the latency measurement, 
                we perform a three-tier hop count based IP geo-localization mapping for China's Internet, 
                on the assumption that each provincial router only serves a limited area. 
                The mapping approach begins at the first tier using a single vantage point 
                to fetch large-scale traceroute paths from the server to landmarks and target IPs. 
                At the second tier, we try to find the last common routers 
                along the traceroute paths of targets and landmarks and aggregate their hop count distances. 
                At the third tier, we estimate the physical distances from hop count distances and provincial router radii, 
                and geo-localize the targets to the nearest landmarks. Through large-scale experiments, 
                we show that our approach is both cost-efficient and reliable, and can achieve last-ten-kilometer IP geo-localization 
                for approximately 65\% of the total 48874 pingable target IP addresses with a single ping server, 
                and our hop count based approach completely outperforms the RTT based method.
        </p></blockquote>

    <h5>Selected Projects</h5>

    <ul>
        <li>Privacy-Preserving TEE on a Service-oriented Environment</li>
        <li>Attribute Inference Attacks Against Machine Learning Models</li>
        <li>Hop Count Based IP Geo-localization in China’s Internet</li>
    </ul>

    <h5>Honors and Scholarships</h5>

    <ul>
        <li>2017 Jin Long Yu Scholarship, Shanghai Jiao Tong University (only 3 awarded students in the School of EECS)</li>
        <li>Zhiyuan Honors Scholarship, Shanghai Jiao Tong University (top 5%)</li>
        <li>Zhiyuan Honors Research Program, Shanghai Jiao Tong University</li>
        <ul>
            <li>Project Topic: Adversarial Deep Learning and Its Applications in Internet of Things</li>
            <li>The only EECS project out of 8 projects funded in 2018</li>
        </ul>
    </ul>

</div>

<!-- Chinese Version -->
<div class="zh post-container">

        <!--copied from markdown -->
    
        <h4>关于我</h4>
    
        <p>我就读于上海交通大学电子信息与电气工程学院，主修计算机科学与技术，预计于2020年6月获得工程学士学位。</p>
    
        <p>我十分关心计算机安全与隐私，计算机基础架构，算法等学科的发展。我的主要研究兴趣包括：</p>
    
        <ul>
            <li>机器学习的安全威胁与隐私漏洞</li>
            <li>可信任执行环境（Trusted Execution Environment, TEE）</li>
        </ul>
    
        <p>
            我对进入工业界工作很感兴趣。为此，我将要申请2020年秋季学期的Master in Computer Science项目。
            我的最新简历可以在这里获得。欢迎通过我的邮箱wangxinyu500103@gmail.com和我进行讨论。
        </p>
    
        <h4>精选原创文章</h4>
    
        <ul>
            <li>人工智能 | 搜索算法</li>
            <li>Python | 复制的学问：深复制与浅复制</li>
            <li>Intel SGX | Enclave定义语言</li>
        </ul>
    
        <h4>论文发表</h4>
    
        <p>
            No-Jump-into-Latency in China’s Internet! A Hop Count Based IP Geo-localization Approach
        </p>
        <ul>
            <li>Chong Xiang, Xinyu Wang, Qingrong Chen, Minhui Xue, Zhaoyu Gao, Haojin Zhu, Cailian Chen, and Qiuhua Fan</li>
            <li>Proceedings of the IEEE/ACM International Symposium on Quality of Service (IWQoS 2019) Article No. 42</li>
            <li>Patent: CN201910603154.2, a hop count-based IP geo-localization approach</li>
            <li>https://nsec.sjtu.edu.cn/~chongxiang/pdf/IWQoS2019.pdf</li>
        </ul>
        <blockquote><p>
                Last-mile geo-localization plays an essential role in many location-based services, 
                such as fraud detection and targeted advertising. 
                In this study, we point out that round trip time (RTT) latency shows an extremely weak correlation 
                with physical distance estimation in China's Internet, 
                since a path between a vantage point and a destination can often be 
                circuitous and inflated by queuing and processing delays. 
                To sidestep the latency measurement, 
                we perform a three-tier hop count based IP geo-localization mapping for China's Internet, 
                on the assumption that each provincial router only serves a limited area. 
                The mapping approach begins at the first tier using a single vantage point 
                to fetch large-scale traceroute paths from the server to landmarks and target IPs. 
                At the second tier, we try to find the last common routers 
                along the traceroute paths of targets and landmarks and aggregate their hop count distances. 
                At the third tier, we estimate the physical distances from hop count distances and provincial router radii, 
                and geo-localize the targets to the nearest landmarks. Through large-scale experiments, 
                we show that our approach is both cost-efficient and reliable, and can achieve last-ten-kilometer IP geo-localization 
                for approximately 65\% of the total 48874 pingable target IP addresses with a single ping server, 
                and our hop count based approach completely outperforms the RTT based method.
        </p></blockquote>
    
        <!--<h4>精选项目</h4>-->
    
        <h4>荣誉和奖学金</h4>
    
        <p>荣誉</p>

        <ul>
            <li>上海交通大学致远学者项目</li>
            <ul>
                <li>项目主题：Adversarial Deep Learning and Its Applications in Internet of Things</li>
                <li>2018年赞助的8个项目中唯一的EECS类项目</li>
            </ul>
        </ul>

        <p>奖学金</p>
        
        <ul>
            <li>2017年上海交通大学金龙鱼奖学金（本院仅3人获奖）</li>
            <li>上海交通大学致远荣誉奖学金（前5%学生）</li>
        </ul>
    
    </div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $en = document.querySelector(".en");
    var $zh = document.querySelector(".zh");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#zh"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // en by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#en"
        }else{
            window.location.hash = "#zh"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

